
.flexbox{
  display: flex;
  position:relative;
  background:#5484bb;
  width:100%;
  height:100%;
  align-items: stretch;
  flex-direction:column;

}


.flexboxnav{
  display: flex;
  position:fixed;
  background:#ffffff;
  width:98%;
  height:5%;
justify-content: center;
  align-content: center;
  flex-grow: 1;
margin: 0.5%;

  text-overflow: ellipsis;
  white-space: nowrap;
  position: absolute;

}

.mid-box{
  display: flex;
  width:98%;
  height:95%;
  border:1px;
  padding-top:1%;
  flex-direction:row;
  padding: 3%;
  border-radius: 15px;
  margin: 0.5%;

  box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.064),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12)
;
}


.navbarflex{
  display: flex;
  position:absolute;
  background:#ffffff;
  width:70%;
  height:10%;
  margin-left: 5%;
  margin-right: 5%;

}


.mid-box2{
  display: flex;
  width:98%;
  height:98%;
  border:1px;
  flex-direction:column;
  border-radius: 15px;
  margin: 0.5%;
  box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.064),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12)
;
}

.left-body-panel{
  background: #fbfdff;
  width:15%;
  overflow: hidden;
  align-items: stretch;
  margin: 1%;
  border-radius: 15px;
  margin-top: 2.5%;
  box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.064),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12)
  
;

}
.right-body-panel{
  display: flex;
  flex-direction:column;
  background:#f7f7f7;
  overflow: auto;
  padding-bottom: 1%;
  padding-top: 1%;
  width:100%;
  height: 100%;
  border-radius: 5px;
  margin: 0.5%;
  margin-top: 1.0%;
  
  box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.064),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.05),
  0 22.3px 17.9px rgba(0, 0, 0, 0.042),
  0 41.8px 33.4px rgba(0, 0, 0, 0.036),
  0 50px 80px rgba(0, 0, 0, 0.12)
;
}


.box {
  box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.403),
  0 6.7px 5.3px rgba(0, 0, 0, 0.363),
  0 6.5px 6px rgba(0, 0, 0, 0.034),
  0 2.3px 8.9px rgba(0, 0, 0, 0.041),
  0 1.8px 6.4px rgba(0, 0, 0, 0.048),
  0 3px 16px rgba(0, 0, 0, 0.144)
;
align-content: center;
  display: flex;
  background: #5484bb;
  border-radius: 3px;
  flex-direction: column;

}





.alta{
  display: flex;
  width:98%;
  border-radius: 15px;
  margin: 0.5%;
  background-color: rgb(255, 255, 255);
  height: fit-content;
  overflow:visible;
  justify-content: center;
  align-content: center;
 
  box-shadow:
  0 2.8px 2.2px rgba(255, 255, 255, 0.064),
  0 6.7px 5.3px rgba(255, 201, 201, 0.048),
  0 12.5px 10px rgba(14, 12, 12, 0.062),
  0 22.3px 7.9px rgba(255, 255, 255, 0.072),
  0 21.8px 20.4px rgba(255, 255, 255, 0.086),
  0 5px 44px rgba(189, 189, 189, 0.13)
;
}